{#}{ include ('base.html.twig') }}
{{ include('topmenu.html.twig') }#}

{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">WebSiteName</a>
            </div>
        </div>
    </nav>
    <br>

    <div class="container">
        <div class="panel col-sm-6 col-sm-offset-3 panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h1> {{ 'forgot_password.header'|trans }} </h1>
                </div>
                <br>
                <h4> {{ 'forgot_password.text'|trans }} </h4>
                <br>
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="right-inner-addon">
                            <input type="text" class="form-control" name="recovery_email"
                                   placeholder="{{ 'general.email'|trans }}"
                                   required>
                            <br>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-default"> {{ 'forgot_password.send'|trans }} </button>
                            </div>
                            <br>
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="g-recaptcha" data-sitekey="6Lf88kIUAAAAAMQm2d9KDEp2Ron2SFmJOyxLt0im">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#login').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later

                fields: {
                    email: {
                        validators: {
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            },
                            stringLength: {
                                max: 50
                            },
                            emailAddress: {
                                message: "{{ 'login.valid_email'|trans }}"
                            }

                        }
                    }

                }
            })
        });


    </script>

{% endblock %}