{% block title %}{% endblock %}

    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
              crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

    {% endblock %}

    <style>
        .right-inner-addon {
            position: relative;
        }
    </style>

    {% block body %}

        <br>
        <div class="container text-center">
            <h1>
                {{ 'register.sign_up'|trans }}
            </h1>

            {% if error %}
                <div id="errorMessages" class="row">
                    <div class="alert alert-danger col-sm-4 mx-auto">
                        <strong>{{ 'general.error'|trans }}</strong> {{ error }}
                    </div>
                </div>
            {% endif %}

            <form action="{{ path('registerPage') }}" id="register" method="POST">
                <div class="form-group row">
                    <div class="col-sm-4 mx-auto">
                        <div class="right-inner-addon">
                            <input type="text" class="form-control" name="first_name" placeholder="{{ 'general.first_name'|trans }}" >
                            <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mx-auto">
                        <div class="right-inner-addon">
                            <input type="text" class="form-control" name="last_name" placeholder="{{ 'general.last_name'|trans }}">
                            <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mx-auto">
                        <div class="right-inner-addon">
                            <input type="text" class="form-control" name="email" placeholder="{{ 'general.email'|trans }}">
                            <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mx-auto">
                        <div class="right-inner-addon">
                            <input type="password" id="password" class="form-control" name="pass" placeholder="{{ 'general.password'|trans }}">
                            <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mx-auto">
                        <div class="right-inner-addon">
                            <input type="password" class="form-control" name="conf_pass" placeholder="{{ 'register.confirm_password'|trans }}">
                            <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                        </div>
                    </div>
                </div>
                <div id="passwordInfo" class="row">
                    <div class="alert alert-info col-sm-4 mx-auto">
                        <strong>{{ 'general.info'|trans }}</strong> {{ 'register.password_info'|trans }}
                    </div>
                </div>
                <div class="checkbox form-group row">
                    <label><input type="checkbox" class="control" name="terms_conditions">{{ 'register.i_agree'|trans }}<a
                                href="http://www.samoyed.ch/images/neuehomepage/beryll_mops/mops11.jpg">
                            {{ 'register.terms_conditions'|trans }}</a></label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox">{{ 'register.keep_informed'|trans }}</label>
                </div>
                <button type="submit" class="btn btn-default">{{ 'register.submit'|trans }}</button>
            </form>
            {#{{ register.user_already_exists|trans }}#}

            <button type="button" class="btn btn-primary">Buton de fb</button>
            <button type="button" class="btn btn-danger">Buton de goagal</button>
            <br>
            <br>

        </div>
    {% endblock %}

{% block javascripts %}
    <script>
        $('#passwordInfo').hide();
        $(document).ready(function () {
            $('#password').focusin(function () {
                $('#passwordInfo').show();
            });

            $('#password').focusout(function () {
                $('#passwordInfo').hide()
            });

            $('#register').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    first_name: {
                        validators: {
                            stringLength: {
                                min: 2,
                                max: 50,
                                message: "{{ 'register.first_name_length'|trans }}"
                            },
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            }
                        }
                    },
                    last_name: {
                        validators: {
                            stringLength: {
                                min: 2,
                                max: 50,
                                message: "{{ 'register.last_name_length'|trans }}"
                            },
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            },
                            stringLength: {
                                max: 50,
                            },
                            regexp: {
                                regexp: /^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/,
                                message: "{{ 'register.valid_email'|trans }}"
                            }
                        }
                    },
                    pass: {
                        validators: {
                            regexp: {
                                regexp: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d#?!@$%^&*-]{8,100}$/,
                                message: "{{ 'register.valid_password'|trans }}"
                            },
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            }
                        }
                    },
                    conf_pass: {
                        validators: {
                            // confirmPassword: {
                            //     equality: "pass",
                            //     message: "Passwords do not match"
                            // },
                            identical: {
                                field: 'pass',
                                message: "{{ 'register.password_not_match'|trans }}"
                            },
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            }
                        }
                    },
                    terms_conditions: {
                        validators: {
                            notEmpty: {
                                message: "{{ 'register.terms_conditions_not_checked'|trans }}"
                            }
                        }
                    }
                }
            })
        });


    </script>

{% endblock %}

