{#{% include 'base.html.twig' %}#}

{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
{% endblock %}

{% block stylesheets %}
    <style>
        .right-inner-addon {
            position: relative;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">WebSiteName</a>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <div class="panel col-sm-6 col-sm-offset-3 panel-default">
            <div class="panel-body">
                <h1>
                    {{ 'reset_password.title'|trans }}
                </h1>
                <br>
                {% if errorMessage %}
                    <div id="errorMessages" class="row">
                        <div class="alert alert-danger col-sm-10 col-sm-offset-1">
                            <strong>{{ 'general.error'|trans }}</strong> {{ errorMessage|trans }}
                        </div>
                    </div>
                {% endif %}

                <form action="{{ path('resetPassword', {"token": token}) }}" id="register" method="POST">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="right-inner-addon">
                                <input type="password" id="password" class="form-control" name="pass"
                                       placeholder="{{ 'general.password'|trans }}">
                                <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="right-inner-addon">
                                <input type="password" class="form-control" name="conf_pass"
                                       placeholder="{{ 'register.confirm_password'|trans }}">
                                <span class='glyphicon form-control-feedback' area-hidden='true'></span>
                            </div>
                        </div>
                    </div>
                    <div id="passwordInfo" class="row">
                        <div class="alert alert-info col-sm-10 col-sm-offset-1">
                            <strong>{{ 'general.info'|trans }}</strong> {{ 'register.password_info'|trans }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">{{ 'reset_password.submit'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/language/ro_RO.min.js"></script>

    <script>
        $('#passwordInfo').hide();
        $(document).ready(function () {
            $('#password').focusin(function () {
                $('#passwordInfo').show();
            });

            $('#password').focusout(function () {
                $('#passwordInfo').hide()
            });

            $('#register').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    pass: {
                        validators: {
                            regexp: {
                                regexp: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d#?!@$%^&*-]{8,100}$/,
                                message: "{{ 'register.valid_password'|trans }}"
                            },
                            identical: {
                                field: 'conf_pass',
                                message: "{{ 'register.password_not_match'|trans }}"
                            },
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            }
                        }
                    },
                    conf_pass: {
                        validators: {
                            identical: {
                                field: 'pass',
                                message: "{{ 'register.password_not_match'|trans }}"
                            },
                            notEmpty: {
                                message: "{{ 'register.empty_field'|trans }}"
                            }
                        }
                    }
                }
            })
        });
    </script>

{% endblock %}

