{% block body %}
    <!-- Flickity HTML init -->
    <div class="gallery js-flickity"
         data-flickity='{"cellAlign": "left", "contain": true, "autoPlay": true, "draggable": true}'
         id="inner-perks">

        {% for perk in projectInfo['perks'] %}
            <div id="perk-{{ perk['id'] }}" class="gallery-cell">
                <div class="card" style="width: 18rem; left: 10px;">
                    <span id="remove-perk-{{ perk['id'] }}" class="close sticky-top" data-effect="fadeOut"
                          onclick="deletePerk({{ perk['id'] }})" style="position: absolute; margin-left: 16.7rem"><i
                                class="fa fa-times"></i></span>
                    <div id="perk-image-{{ perk['id'] }}" class="perk-image" data-perk-id="{{ perk['id'] }}">
                        <div id="keditor-content-area-{{ perk['id'] }}" class="keditor-content-area ui-sortable">
                            <section class="keditor-ui keditor-container keditor-initialized-container"
                                     id="keditor-container-{{ perk['id'] }}">
                                <section class="keditor-ui keditor-container-inner">
                                    <div class="row">
                                        <div class="col-md-12 keditor-container-content ui-sortable"
                                             data-type="container-content"
                                             id="keditor-container-content-{{ perk['id'] }}">
                                            <section class="keditor-ui keditor-component keditor-initialized-component"
                                                     data-type="component-photo"
                                                     id="keditor-component-{{ perk['id'] }}">
                                                <section class="keditor-ui keditor-component-content"
                                                         id="keditor-component-content-{{ perk['id'] }}">
                                                    <div class="photo-panel">
                                                        <img class="card-img-top"
                                                             src="{{ perk['image_path'] }}"
                                                             width="100%" height="" style="display: inline-block;">
                                                    </div>
                                                </section>
                                                <div class="keditor-toolbar keditor-toolbar-component">
                                                    <a href="javascript:void(0);"
                                                       class="keditor-ui btn-component-setting">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title perk-title ckeditor-enabled" data-perk-id="{{ perk['id'] }}"
                            id="perk-title-{{ perk['id'] }}"
                            contenteditable="true">{{ perk['title'] }}</h5>
                        <p class="card-text perk-description ckeditor-enabled" data-perk-id="{{ perk['id'] }}"
                           id="perk-description-{{ perk['id'] }}"
                           contenteditable="true" style="max-height: 160px; overflow-x: auto">{{ perk['description'] }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn-perk-amount btn-primary rounded text-white offset-3 col-6 d-block mx-auto">
                            <div class="quantity">
                                <input type="number" min="1" step="1" data-perk-id="{{ perk['id'] }}"
                                       value="{{ perk['amount'] }}" class="btn-primary perk-amount">
                                RON
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="card" style="width: 18rem; height: 500px; left: 10px">
            <div class="row align-items-center h-100">F
                <div class="col-6 mx-auto">
                    <i onclick="addPerk()" class="fa fa-plus-circle"
                       style="font-size: 100px; color: grey"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function addPerk() {
            $.post(
                "{{ path('addPerk') }}",
                {
                    projectId: {{ projectInfo['id'] }}
                },
                function (result) {
                    var data = $('#inner-perks').flickity().data('flickity');
                    var position = data.cells.length - 1;
                    if (position < 0) {
                        position = 0;
                    }

                    $('#inner-perks').flickity('insert', $(result), position);
                    $('#inner-perks').flickity('select', (data.cells.length - 1));

                    fixNumerics();
                    var perkId = $(result).find('.perk-title').attr('data-perk-id');
                    var className = '.ckeditor-enabled-' + perkId;
                    enableCKEDITOR(className);
                    fixFlyckity(className);
                }
            );
        }

        function deletePerk(perkId) {
            $.post(
                "{{ path('deletePerk') }}",
                {
                    projectId: {{ projectInfo['id'] }},
                    perkId: perkId
                },
                function (result) {
                    var elementId = '#perk-' + perkId;
                    $('#inner-perks').flickity('remove', $(elementId))
                }
            );
        }
    </script>
{% endblock %}