<div class="row border border-bottom-0 rounded-top">
    <div class="col-lg-9">
        <br>
        <h3 id="title" contenteditable="true" class="text-success">
            {{ projectInfo['title'] }}
        </h3>
        <br>
        <br>
        <h5 id="shortDescription" contenteditable="true">
            {{ projectInfo['shortDescription'] | raw }}
        </h5>
    </div>
    <div class="col-lg-3">
        <br>
            <div class="col-lg-12">
                <button type="button" class="btn btn-dark btn-lg btn-block">Sustine</button>
            </div>
        <br>
        <br>
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary btn-lg btn-block">Distribuie</button>
            </div>
        <br>
        <br>
            <div class="col-lg-12">
                <button type="button" class="btn btn-danger btn-lg btn-block">Adauga la favorite</button>
            </div>
        <br>
    </div>
</div>
<div class="row border border-top-0 rounded-bottom">
    <div class="col-lg-12">
        <h5>
            Fonduri stranse: {{ projectInfo['pledgedAmount'] }} RON / {{ projectInfo['totalAmount'] }} RON
        </h5>
        <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                 style="width: {{ completedPercentage }}%" aria-valuenow="{{ completedPercentage }}"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <br>
    </div>
    <br>
</div>

<script>
    CKEDITOR.disableAutoInline = true;
    CKEDITOR.inline('title');
    CKEDITOR.inline('shortDescription');

    window.setInterval(function () {
        saveData();
    }, 20000);

    function saveData() {
        var obj = {};
        for (var key in CKEDITOR.instances) {
            if (CKEDITOR.instances.hasOwnProperty(key)) {
                obj[key] = CKEDITOR.instances[key].getData();
            }
        }

        obj.content = $('#content-area').keditor('getContent');

        var jsonString = JSON.stringify(obj);
        $.ajax({
            url: "{{ path('autosaveProject', {projectId: projectInfo['id']}) }}",
            type: 'POST',
            dataType: 'json',
            data: jsonString,
            success: function(result) {
                console.log(result);
            },
            error: function(result) {
                console.log(result);
            }
        });
    }
</script>

