{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
    <style>
        .carousel-cell {
            width: 18rem;
            height: 500px;
            margin-right: 25px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include "topmenu.html.twig" %}

    <div class="page-header page-header-image mt-5">
        <div class="page-header-image" data-parallax="true"
             style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Brasov%2C_Piata_Sfatului.jpg/1280px-Brasov%2C_Piata_Sfatului.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Ia o ceasca de ceai sau cafea si cauta un proiect pe placul tau...</h1>
                <br>
                <div class="text-center">
                    <div class="input-group input-lg">
                        <input type="text" class="form-control" placeholder="Cauta proiecte...">
                    </div>
                    <div class="font-weight-bold" style="margin-top: 20%">
                        ...sau pur si simplu verifica mai jos <i class="far fa-smile"></i>
                        <h1>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" style="background-color: #f5f5f5">
        <div class="container-fluid">
            {% for projectTitle,projectsInfo in projects %}
            <div class="row mt-5">
                <div class="offset-1 col-auto">
                    <h2 class="title">
                        {{ projectTitle }}
                    </h2>
                </div>
            </div>
            <div class="main-carousel" id="inner-projects">
                {% for project in projectsInfo %}
                    <div class="card carousel-cell" style="position:relative;">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ project['card_image'] }}">
                            <h5 class="card-title">{{ project['project_title'] }}</h5>
                            <p class="card-text">{{ project['short_description'] }}</p>
                        </div>

                        <div class="carousel-bottom w-100" style="position:absolute; bottom: 0">
                            <p class="card-text border-top">Fonduri stranse: {{ project['project_pledged_amount'] }} /
                                <b>{{ project['project_total_amount'] }} RON</b></p>
                            <div class="progress-container progress-success">
                                {% set completedPercentage = project['project_pledged_amount'] * 100 / project['project_total_amount'] %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                         style="width: {{ completedPercentage }}%"
                                         aria-valuenow="{{ completedPercentage }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary"
                               style="margin-left: 5rem; width: 8rem">Afla mai multe</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script>
        $('.main-carousel').flickity({
            cellAlign: 'left',
            autoPlay: true,
            draggable: true,
            pageDots: false,
            wrapAround: true
        })
    </script>
{% endblock %}

