{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
    <style>
        .carousel-cell {
            width: 18rem;
            height: 500px;
            margin-right: 25px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include "topmenu.html.twig" %}

    <div class="page-header page-header-image mt-5">
        <div class="page-header-image" data-parallax="true"
             style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Brasov%2C_Piata_Sfatului.jpg/1280px-Brasov%2C_Piata_Sfatului.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Take some time and explore...</h1>
                <br>
                <div class="text-center">
                    <div class="input-group input-lg">
                        <input type="text" class="form-control" placeholder="Search project...">
                    </div>
                    <div class="font-weight-bold" style="margin-top: 20%">
                        ...or just scroll down <i class="far fa-smile"></i>
                        <h1>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-1 col-auto">
                    <h2 class="title">
                        Top projects
                    </h2>
                </div>
            </div>
            <div class="main-carousel" id="inner-projects">
                {% for project in projects %}
                        <div class="card carousel-cell">
                            <div class="card-body">
                                <h5 class="card-title">{{ project['project_title'] }}</h5>
                                <p class="card-text">{{ project['short_description'] }}</p>
                                <p class="card-text">{{ project['project_pledged_amount'] }}</p>
                                <p class="card-text">{{ project['project_total_amount'] }}</p>
                                <a href="#" class="btn btn-primary">CHECK</a>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script>
        var elem = document.querySelector('#inner-projects');
        var flkty = new Flickity(elem, {
            // options
            cellAlign: 'left',
            autoPlay: true,
            draggable: true,
            pageDots: false
        });
    </script>
{% endblock %}

